#container{
    background-color: black;
    height: 70%;
    width: 50%;
    margin: 0 auto;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

#logo {
    height: 25%;
    display: block;
    margin: 0 auto;
}

.link {
    display: block;
    width: 70%;
    height: 10%;
    margin: 4% 15%;
    background-color: lightblue;
    border: none;
    transition: all 0.5s;
}

.link:hover{
    background-color: red;
    margin: 0;
    width: 100%;

}

#title {
    color: white;
    text-align: center;
}
#left {
    background-color: yellow;
    width: 30%;
    height: 100%;
    float: left;
}

#right {
    float: left;
    background-color: green;
    width: 70%;
    height: 100%;
}

#text {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(179, 176, 176);
}

#content {
    margin: 3%;
}